/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body {
  /* background: rgb(41, 41, 41); */
  /* background: white; */
  background: url(pexels-invisiblepower-296559.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  /* width: 100%; */
}
.elements {
  margin-top: 20px;
}
span {
  font-size: x-large;
  font-weight: bold;
}

.txt-element {
  color: white;
  font-size: x-large;
  font-weight: bold;
}
.container {
  color: white;
  margin-top: 100px;
  width: 40%;
  height: 70%;
  padding-top: 50px;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 17px #929292, -5px -5px 17px #ffffff;
}

.container:hover {
  transform: scale(1.1);
  transition: ease-out 0.5s;
}

button {
  background: transparent;
  color: white;
  border: 0px;
  transition: ease 0.3s;
}
button:hover {
  color: aliceblue;
  transform: scale(1.2);
}
